bind-key -T prefix q copy-mode
bind-key -T prefix a paste-buffer
bind-key -T prefix C-c copy-mode
bind-key -T prefix C-v paste-buffer
bind-key -T prefix [ display-panes
bind-key -T prefix w choose-window

bind-key s command-prompt -p "send pane to:" "join-pane -t'%%'.1"
bind-key -n C-S-Left swap-window -t -1
bind-key -n C-S-Right swap-window -t +1

set-option -g history-limit 10000
set-window-option -g mode-keys vi
bind-key -t vi-copy 'v' begin-selection
bind-key -t vi-copy 'y' copy-selection
bind-key -r h select-pane -L
bind-key -r j select-pane -D
bind-key -r k select-pane -U
bind-key -r l select-pane -R
bind-key Space choose-tree

bind '"' split-window -v -c "#{pane_current_path}"
bind '%' split-window -h -c "#{pane_current_path}"
bind '\' split-window -h -c "#{pane_current_path}"
bind '-' split-window -v -c "#{pane_current_path}"
bind c new-window
bind r source ~/.tmux.config \; display "Reloaded!" \; refresh-client

# start window index of 1
set-option -g base-index 1
setw -g pane-base-index 1
set-window-option -g aggressive-resize on

# # active window title colors
set-window-option -g window-status-current-fg white
set-window-option -g window-status-current-bg blue
set-window-option -g window-status-current-attr bright
set-option -g pane-border-fg blue
set-option -g pane-border-bg default
set-option -g pane-active-border-fg blue
set-option -g pane-active-border-bg green

#setw -g c0-change-interval 100
#setw -g c0-change-trigger 75
